
  <div class="panel panel-default">
    <div class="panel-heading">this is the hompage </div>
    <div class="panel-body">

      nothing

      <!-- <label>user signed in?</label>
      <p>{{ user.signedIn ? "true" : "false" }}</p>
      <label>user email</label>
      <p>{{ user.email || "n/a" }}</p> -->

      <!-- sign out button -->
      <!-- <button class="btn btn-default" ng-click="signOut()" ng-if="user.signedIn">Sign out</button> -->

      <a ui-sref="posts.show">posts</a>

    </div>
  </div>
