<!DOCTYPE html>
<html>
<head>
  <title>RailsAngularAuthenticationProject</title>
  <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="angular-auth-app">
  <div ng-include="'settingAngular/nav/_nav.html'" ng-controller="NavCtrl"></div>
  <div class="" ng-controller="MainCtrl">
    <div ui-view><%= yield %></div ui-view>
  </div>

</body>
</html>
